<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

		<title>index</title>
		<meta name="description" content="" />
		<meta name="author" content="Tiago" />

		<meta name="viewport" content="width=device-width; initial-scale=1.0" />

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" href="/apple-touch-icon.png" />
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel='stylesheet' id='camera-css'  href='css/camera.css' type='text/css' media='all'> 
		
		<link media="all" href="http://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet" type="text/css" />
		<link media="all" href="https://googledrive.com/host/0B-vz7n1QSdEfWE1Wbmxtc2FYN1k" rel="stylesheet" type="text/css" />
		<!-- Scripts --> 
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
		<script type="text/javascript" src="https://googledrive.com/host/0B-vz7n1QSdEfRkNxSXVfYjlRU3c"></script>
		<script type="text/javascript" src="https://googledrive.com/host/0B-vz7n1QSdEfUDFxcEpsM1ZSTjQ"></script>
		<script type="text/javascript" src="https://googledrive.com/host/0B-vz7n1QSdEfaHU3dTFPallrU1E"></script>
		<script type="text/javascript" src="https://googledrive.com/host/0B-vz7n1QSdEfUFhSTlNaaU5tTkE"></script>
		<script type="text/javascript" src="https://googledrive.com/host/0B-vz7n1QSdEfeVlQNnBDZGhtXzQ"></script>
	    
	</head>

	<body>
		<header>
			<nav>
				<ul id="trans-nav">
					<li><a href="#">INÍCIO</a></li>
					<li><a href="#">NOSSA IGREJA</a></li>
					<li><a href="#">PADROEIRO</a></li>
					<li><a href="#">NOTÍCIAS</a></li>
					<li><a href="#">GALERIAS</a></li>
					<li><a href="#">CONTATO</a></li>
				</ul>
			</nav>
		</header>
		<br clear="all" />
		<div id="container" style="margin: 0 auto; padding: 0px;">
			<div class="box01"> </div>
			<div class="box02" style="min-height:500px; "> 
				<script> 
				    $(document).ready(function ($) { 
				        $('#FB_Album_Frame').FB_Album({ 
				            facebookID: '441085622673734', 
				            responsiveGallery: false, 
				            fixedWidth: 980
				        }); 
				    }); 
				</script> 
				
				
				<div id="FB_Album_Frame"> </div>
			</div>
			<div class="box03"> </div>
			
			<div class="box01" style="margin-top: 5px;"> </div>
			<div class="box02" style="min-height:200px; "> 

			</div>
			<div class="box03"> </div>
		</div>
		<footer>
			<div id="boxfooter">
				<div id="facebook">
					<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FIgreja-S%25C3%25A3o-Francisco-de-Paula-Narandiba%2F441085622673734%3Ffref%3Dts&amp;width&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:290px;" allowTransparency="true"></iframe>
				</div>
			</div>
		</footer>
	</body>
</html>
