*{
	margin: 0 auto;
	padding: 0px;
}

img{
	border: 0px;
}

body{
	background-image: url(img/fundo.png);
	/*background-color: #E0EAF3;*/
	font-family: HelveticaNeue, "Helvetica Neue", Arial, Helvetica, sans-serif;	
}

header{
	width: 100%;
	height: 150px;
	float:left;
	/*background-image: url(img/topo.png);*/
	background-color: #12214D;
}

nav{
	width:1040px;
	height:59px;
	margin-top:80px;
	padding-top:8px;
	background-repeat: repeat-x;
	font-size: 14px;
}
#trans-nav { list-style-type: none; height: 59px; float: right;}
#trans-nav li { float: left; position: relative; padding: 0; line-height: 59px; background: #12214D; }
#trans-nav li:hover { background-color: #12214D;}
#trans-nav li a { display: block; padding: 0 15px; color: #FFFFFF; text-decoration: none; }
#trans-nav li a:hover { color: #5B5B5B;	 }
#trans-nav li ul { opacity: 0; position: absolute; left: 0; width: 16em; background: #303030; list-style-type: none; padding: 0; margin: 0; }
#trans-nav li:hover ul { opacity: 1; z-index: 2;}
#trans-nav li ul li { float: none; position: static; height: 0; line-height: 0; background: #12214D; }
#trans-nav li:hover ul li { height: 39px; line-height: 39px; }
#trans-nav li ul li a { color: #FFFFFF;	 }
#trans-nav li ul li a:hover { background: #172B61; }


#container{
	width:1060px;
	height:auto;
	margin-top:10px; 
}

#container .box01{
	width: 100%;
	height: 20px;
	background-image: url(img/box01.png);
}

#container .box02{
	width: 100%;
	height: auto;
	background-image: url(img/box02.png);
	background-repeat: repeat-y;
	display: table;
}

#container .box03{
	width: 100%;
	height: 20px;
	background-image: url(img/box03.png);
}

#slide{
	width: 1000px;
	height: auto;
}

#noticias{
	width: 450px;
	height: auto;
	display: table;
	float: left;
	margin-left: 50px;
	margin-top: 10px;
	text-align: center;
	background-image: url(img/titulo.png);
	background-repeat: no-repeat;
}

#notp{
	width:450px;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
}

#notp img{
	float:left;
	width: 200px;
	border: 0px;
	margin-right: 10px;
}

#notp p{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 14px;
	text-align: justify;
}

#recados{
	width: 450px;
	height: auto;
	display: table;
	float: right;
	margin-right: 50px;
	margin-top: 10px;
	text-align: center;
	background-image: url(img/titulo.png);
	background-repeat: no-repeat;
}

#papa{
	width: 450px;
	height: auto;
	display: table;
	float: left;
	margin-left: 50px;
	margin-top: 10px;
	text-align: center;
	background-image: url(img/titulo.png);
	background-repeat: no-repeat;
	font-size: 14px;
}

.titulo{
	font-size: 20px;
	font-weight: bold;
	background-color: #FFFFFF;
	color: #12214D;
}


.info{
	float: left;	
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.info img{
	float:left;
	width: 70px;
	border: 0px;
	margin-right: 10px;		
}

.info p {
	width: 450px;
	margin-top:5px;
	text-align: justify;	
}

.info a, #notp a{
	color: #000000;
	text-decoration: none;
}

.info a:hover, #notp a:hover{
	color: #5B5B5B;	
}

.info span{
	font-size: 12px;
}

#facebook{
	width:auto;
	height:auto;
	float: right;
	margin-right: 50px;
	margin-top: 10px;
	margin-bottom:10px;
	background-image: url(img/titulo.png);
	background-repeat: no-repeat;
	font-size: 14px;
	text-align: center;
}

footer{
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 0px;
	float:left;
	margin-top:10px;
	background-color: #12214D;
}


footer #boxfooter{
	width: 1040px;	
}

footer #boxfooter #contato{
	width:450px;
	float:left;
	position:relative;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom:20px;
	color: #FFFFFF;	
}

footer #boxfooter #contato img{
	vertical-align: middle;
}

footer #boxfooter #contato p{
	margin-top: 10px;
}

footer #boxfooter #mapa{
	width:450px;
	float:right;
	position:relative;
	margin-right: 5px;
	margin-top: 20px;
	margin-bottom:20px;
	color: #FFFFFF;
}

footer #boxfooter #mapa a{
	color: #FFD800;
}

footer #developer{
	width: 1040px;	
	float: left;
	margin-top:20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 12px;
	color: #D8D8D8;
}

